<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <title>The Tech Blog</title>
  </head>

  <body>
  
    <!-- This is the Header Section that displays the Navigation Bar and Title. -->
    <header>
        <!-- Navagation section.  -->
        <nav>
            <!-- Unordered List element, contains link items. -->
            <ul>
                <li>
                    <a href="/homeRoutes/">Home</a>
                </li>
                <li>
                    <a href="/homeRoutes/dashboard">Dashboard</a>
                </li>

                <!-- if logged in then display logout link. -->
                {{#if loggedIn}}
                    <li>
                        <a id="logout" href="/homeRoutes/logout">Logout</a>
                    </li>    
                {{else}}
                <!-- Otherwise, show a link to login -->
                    <li>
                        <a href="/homeRoutes/login">Login</a>
                    </li>    
                {{/if}}
            </ul>            
        </nav>
        
        <div id="title_tag">
          {{#if dashboardPage}}
              <h1>Your Dashboard</h1>
          {{else}}
              <h1>The Tech Blog</h1>          
          {{/if}} 
        </div>  
                     
    </header>

    <main>
        {{{ body }}} 
    </main>

    <!-- Load the JS script file for the differnt pages -->
    {{#if loginPage}} 
      <script src="/js/login.js"></script>
    {{/if}} 

    {{#if commentPage}}
        <script src="/js/comment.js"></script>
    {{/if}}

    {{#if dashboardPage}}
        <script src="/js/NewPost.js"></script>
    {{/if}}

    {{#if blogPage}}
        <script src="/js/EditPost.js"></script>
    {{/if}}

    <!-- Load this JS script file for all the pages -->
    <script src="/js/logout.js"></script>    

  </body>
</html>
