
<div id="blog_item">
    <div id="blog_title">
        <h3 id="title_data">{{blogItem.title}}</h3>
        <p id="posted_data">Posted by {{blogItem.user.name}} on {{blogItem.dateposted}}</p>
    </div>

    <p id="blog_content">{{blogItem.content}}</p>
</div>

<button type="button" id="AddComment">Submit</button>

 


