<div id="DashboardItem">
    <div id="DashboardTitle">
        <a id="DashboardLink" href="/blog"><h3 id="title_data">Why MVC is so important</h3></a>
        <p id="posted_data">5/8/2020</p>
    </div>
</div>

<div class="NewPostDiv"> 
    <button class="NewPostButton";  type="button" id="btnNewPost">+ New Post</button>     
</div> 



