{{#each blogs as |blog|}} 

    <div id="DashboardItem">
        <div id="DashboardTitle">
            <a id="DashboardLink" href="/homeRoutes/blog/{{blog.id}}"><h3 id="title_data">{{blog.title}}</h3></a>
            <p id="posted_data">{{blog.dateposted}}</p>
        </div>
    </div>
{{/each}} 

<div class="NewPostDiv"> 
    <button class="NewPostButton";  type="button" id="btnNewPost">+ New Post</button>     
</div> 



