
<div id="login_item">
    <div id="login_title">
        <h3 id="login_title_data">Login</h3>
    </div>

    <div id="login_input"></div>

    <p class="login_header1">Username</p>
    <input type="text" id="txtUsername" class="LoginText">
    <p id="LoginPassword" class="login_header2">Password</p>
    <input type="text" id="txtPassword" class="LoginText"> 
    <button type="button" id="btnLogin">Login!</button>    
    <button type="button" id="btnSwitch">Sign up instead</button>                   
</div>     

<input type="hidden" id="OperationMode" value="1">




