/* Universal Selector: Set the box-sizing to border-box, making the padding and border included in the width and height of a box.
   Set all padding and margins to zero. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the background color and the font family for the whole page */
body {
    background-color: #d9dcd6;
    font-family: Arial, Helvetica, sans-serif;
}

/********************************************************************************************************/
/* All Items below are in the main.handlebars view:                                                     */
/********************************************************************************************************/

/* Header element: Set the border, background color, text color, width and height. */
header {
    border: solid;
    background-color: black;
    color: white; 
    width: 100%;
    height: 150px;
}

/* Navigation Links: Changed the color of the header navigation links to white. */
header nav ul li a {
    color: white;
}

/* Navigation element in header element: Set margins, float left, font size, width and background color. */
header nav {   
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px; 
    width: 95%;
    background-color: black;   
} 

/* ul element in header navagation element: Set list type to none, so no bullets are displayed. */
header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: nowrap;   
    align-items: center;        
}

/* li element of ul element in header navagation element: Set display inline block, left margin 25 pixels,
   right margin to 100 pixels. */
header nav ul li {
    display: inline-block; 
    margin-left: 25px;
    margin-right: 100px;

}

/* Class for the title tag element: Set the colors, display mode, margins, padding, rounded corners and shadow. */
#title_tag {
    background-color: white;
    color: black;   
    display: inline-block;  
    margin-left: 50px;
    margin-top: 30px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
}

/********************************************************************************************************/
/* All Items below are in the homepage.handlebars view:                                                 */
/********************************************************************************************************/

/* Class for the blog item element: Set the border values, width and left margin.  */
#blog_item {
    border: 5px solid black;
    width: 95%;
    margin-left: 45px;
    margin-top:15px;
}

/* Class for the blog title element: Set the background and text color. */
#blog_title {
    background-color: black;
    color: white;
    width: 100%;
}

/* Class for the title data element: Make the element an inline block and set the padding values. */
#title_data {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/********************************************************************************************************/
/* All Items below are in the comment.handlebars view:                                                  */
/********************************************************************************************************/

/* Class for the posted data element: Position the element to the right and set the padding values. */
#posted_data {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

/* Class for the blog content element: Set the padding values. */
#blog_content {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

/* Class for the blog link element: Set the text color to white. */
#blog_link {
    color: white;
}

/* Class for the add comment item element: Set the border values, width and left margin.  */
#add_comment_item {
    border: 5px solid black;
    width: 95%;
    margin-left: 45px;
    margin-top: 15px;
    min-height: 225px;
}

/* Class for the add comment title element: Set the background and text color. */
#add_comment_title {
    background-color: black;
    color: white;
    min-height: 40px;
}

/* Class for the comment text: Position the element, adjust the margins. */
.comment_title{
    margin-left: 12px;  
    margin-top: 10px;  
    Font-Size: 18px;
}

/* Class for the comment area textbox: Position the element, adjust the margins. */
/* Make display block so nothing after it.*/
#add_comment_textbox {
    margin-left: 10px;
    margin-top: 5px;
    display: block;
    width: 99%;
    font-size: 18px;
}

/* Class for add comment button: Position it, deal with colors, font size and rounded borders. */
#AddComment {
    margin-left: 10px;
    margin-top: 5px;
    width: 99%; 
    height: 40px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    border: 5px solid gray;
    font-size: 18px;
    cursor: pointer;
}

/* Class for the display comment item element: Set the border values, width, height and left margin.  */
#display_comment_item {
    border: 5px solid black;
    width: 95%;
    margin-left: 45px;
    margin-top: 15px;
    min-height: 225px;
}

/* Class for the display comment title element: Set the background and text color and height. */
#display_comment_title {
    background-color: black;
    color: white;
    min-height: 40px;
}

/********************************************************************************************************/
/* All Items below are in the login.handlebars view:                                                    */
/********************************************************************************************************/

/* Class for login item element: Set the border width margin and height. */
#login_item {
    border: 5px solid black;
    width: 95%;
    margin-left: 45px;
    min-height: 325px;
    margin-top: 15px;
}

/* Class for login item title area: Set the colors for background color and text.*/
#login_title {
    background-color: black;
    color: white;
}

/* Class for login title data: Set the display to inline-block and set the padding values. */
#login_title_data {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* Class for login text elements: Set the height, width and left margin values. */
.LoginText {
    margin-left: 12px;
    width: 98%; 
    height: 40px; 
    font-size: 18px;
}

/* Class for login header one - Username: Set the margins and font weight. */
.login_header1 {
    margin-left: 12px;  
    margin-top: 10px; 
    font-weight: bold;  
}

/* Class for login header two - Password: Set the margins and font weight. */
.login_header2 {
    margin-left: 12px;  
    margin-top: 20px; 
    font-weight: bold;  
}

/* Class for login button: Set margins, width, height, colors, border, font-size and cursor.*/
#btnLogin {
    margin-left: 10px;
    margin-top: 15px;
    width: 98%;
    height: 40px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    border: 5px solid gray;
    font-size: 18px;
    cursor: pointer;
}

/* Class for switch button: Set margins, width, height, colors, border, font-size and cursor.*/
#btnSwitch {
    background-color: gray;
    border-radius: 5px;
    color: white;
    border: 5px solid gray;
    font-size: 18px; 
    cursor: pointer; 
    margin-left: 10px;
    margin-top: 15px;      
}

/* Class for covering the password text with solid squares. */
#txtPassword {
    -webkit-text-security: square; 
    font-size: 18px;    
}

/********************************************************************************************************/
/* All Items below are in the dashboard.handlebars view:                                                */
/********************************************************************************************************/

/* Class for Dashboard Item element: Set border, width, left margin, rounded corners, top margin and colors. */
#DashboardItem {
    border: 5px solid gray;
    width: 95%;
    margin-left: 45px;  
    border-radius: 5px; 
    color: white;
    background-color: gray; 
    margin-top: 15px;
}

/* Class for Dashboard Link Text: Set the text color to white. */
#DashboardLink {
    color: white;
}

/* Class for Dashboard Title element: Set the background and text colors. */
#DashboardTitle {
    background-color: gray;
    color: white;
    width: 100%;
}

/* Class for the NewPost Div so can position at the bottom of the page. */
.NewPostDiv {
    position:absolute; 
    margin-left:-50px; 
    left:50%; 
    width:100px; 
    bottom:10px;
}

/* Class for New Post Button: Set the styles for this button. */
.NewPostButton {
    height: 50px; 
    width: 150px;  
    border-radius: 5px; 
    background-color: black; 
    color: white; 
    cursor:pointer; 
    font-size: 18px;
}

/********************************************************************************************************/
/* All Items below are in the blog.handlebars view:                                                     */
/********************************************************************************************************/

/* Class for the Post Item element: Set the border, width, left and top margins and height. */
#PostItem {
    border: 5px solid black;
    width: 95%;
    margin-left: 45px;
    min-height: 365px;  
    margin-top: 20px;  
}

/* Class for Post Title: Set the background color and text color. */
#PostTitle {
    background-color: black;
    color: white;    
}

/* Class for Post Title Text: Set display to inline block and set the padding values. */
.PostTitleData {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;    
}

/* Class for Post Header 1 - Title: Set the margins and font weight. */
.PostHeader1 {
    margin-left: 12px;  
    margin-top: 10px; 
    font-weight: bold;  
}

/* Class for Post Header 2 - Content: Set the margins and font weight. */
.PostHeader2 {
    margin-left: 12px;  
    margin-top: 20px; 
    font-weight: bold;  
}

/* Class for the Post Comment area textbox: Position the element, adjust the margins. Make display block so nothing 
   after it.*/
#PostCommentTextbox {
    margin-left: 10px;
    display: block;
    width: 98%;
    font-size: 18px;
}

/* Class for all of the Post buttons: Set margins, width, height, color, border, font-size and cursor. */
.btnPost {
    margin-left: 10px;
    margin-top: 15px;
    width: 98%;
    height: 40px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    border: 5px solid gray;
    font-size: 18px;
    cursor: pointer;
}

/**********************************************************************************************************
* MEDIA QUERY SECTION * If the screen is less than or equal to the pixel size then apply these css rules.
**********************************************************************************************************/
@media screen and (max-width: 1300px){
    #blog_item {
        width: 95%;
    }

    #PostItem {
        width: 95%;
    }

    #DashboardItem {
        width: 95%;
    }

    #login_item {
        width: 95%;
    }

    #add_comment_item {
        width: 95%;
    }

    #display_comment_item {
        width: 95%;
    }

    
} 

@media screen and (max-width: 1000px){
    #blog_item {
        width: 90%;
    }

    #PostItem {
        width: 90%;
    }

    #DashboardItem {
        width: 90%;
    }

    #login_item {
        width: 90%;
    }

    #add_comment_item {
        width: 90%;
    }

    #display_comment_item {
        width: 90%;
    }
} 

@media screen and (max-width: 550px){ 
    header nav ul {
        flex-direction: column;
    }

    h1 {
        font-size: 16px;
    }  
    
    #title_tag {
        position: relative;
        top: -15px;
        left: 15px;
    }

    #blog_item {
        width: 80%;
        position:relative; 
        top: 0; 
        left: 0;        
    }

    #PostItem {
        width: 80%;
    }

    #DashboardItem {
        width: 80%;
        position:relative; 
        top: 0; 
        left: 0;        
    }

    #add_comment_item {
        width: 80%;
    }

    #display_comment_item {
        width: 80%;
    }


    #login_item {
        width: 80%;
    }

    h3 {
        font-size: 14px;
    }

    header nav {  
        width: 80%;
        position: relative;
        left: 30px;
    }

    #posted_data {
        font-size: 14px;
        position: absolute; 
        top: -30px; 
        left: 5px;
        color: black; 
    }
   
    header {
        width: 80%;
        margin-left: 50px;
    }
     
    #PostCommentTextbox {
        margin-right: 50x;
    }

    #txtUsername {
        width: 95%;
    }

    #txtPassword {
        width: 95%;
    }

    #btnLogin {
        width: 95%;
    }
    
    #display_comment_text {
        width: 95%;
    }

    #add_comment_textbox {
        width: 95%;
    }  
    
    #AddComment {
        width: 95%;
    }

    #btnPostCreate {
        width: 95%;
    }    

    #btnPostUpdate {
        width: 95%;
    }    

    #btnPostDelete {
        width: 95%;
    }    

    #PostCommentTextbox {
        width: 95%;
    }    

    #txtTitle {
        width: 95%;
    }  

    #DashboardTitle {
        width: 95%;
    }

    .login_header1{
        font-size: 14px;
    }

    .login_header2{
        font-size: 14px;
    }
}

@media screen and (max-width: 350px){ 
    header nav {  
        width: 50%;
    }

    #posted_data {
        font-size: 12px;
    }
}

